*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
}
header, section, main{
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
}

/* ------------------- HOMEPAGE ------------------- */
header{
    width: 100vw;
    height: 10vh;
}
nav{
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #2a2a2a;
    color: white;
    z-index: 2;
    border: 1px solid black;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
    font-size: 20px;
}
#firstPage{
    height: 90vh;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}
#firstPage div{
    background-size: cover;
}

.leftPicture{
    background: url(pictures/black-and-gray-motherboard-2582937.jpg) no-repeat;
    width: 80%;
    height: 80%;
    margin: auto;
}

@media (min-width: 500px){
    .leftPicture{
        background: url(pictures/black-and-gray-motherboard-2582937.jpg) no-repeat;
        width: 24%;
        height: 100%;
        margin: 0;
    }
    .centerPicture{
        background: url(pictures/picRight.jpg) no-repeat;
        width: 50%;
    }
    .rightPicture{
        background: url(pictures/black-and-gray-motherboard-2582937.jpg) no-repeat;
        width: 24%;
    }
    li{
        font-size: 2vmax;
    }
}
/* ------------------- COMPANY ------------------- */
#company{
    position: relative;
}
#company img{
    height: 30vh;
    width: 40vw;
    position: absolute;
    margin-top: 12vh;
    margin-left: 25vw; /* in the center */
    display: block;
}
#company p{
    height: 50%;
    width: 80%;
    position: absolute;
    font-size: 1.8vmax;
    margin-left: 10vw;
    margin-top: 45vh;
    padding: 5%;
    display: block;
    text-align: center;
}
@media (min-width: 750px){
    #company img{
        height: 100vh;
        width: 24%;
        display: inline-block;
        margin: 0 auto;
        vertical-align: top;
    }    
    #company p{
        font-size: 1.8vmax;
        display: inline-block;
        width: 60%;
        height: 70vh;
        padding: 2%;
        left: 30%;
        vertical-align: top;
        margin-top: 12vh;
        margin-left: 5vw;
        text-align: center;
    }
}
/* ------------------- TEAM ------------------- */
#team{
    position: relative;
    padding-top: 15vh;
}
h3{
    font-size: 4vmax;
    text-align: center;
    padding: 25px;
}
.slider{
    width: 80%;
    height: 90%;
    margin: 0 auto;
    position: relative;
}
.worker{
    height: 70%;
    width: 70vw;
    background: url(pictures/man1.jpg) no-repeat;
    background-size: contain;
    animation: 20s workers infinite;
    margin: 0 auto;
    background-position: center;
}
@keyframes workers{
    0%{
        background: url(pictures/man1.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    25%{
        background: url(pictures/man2.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    50%{
        background: url(pictures/man3.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    } 
    75%{
        background: url(pictures/man4.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    } 
    100%{
        background: url(pictures/man1.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    }
}
/* ------------------- SERVICES ------------------- */
#services{
    height: 200vh;
    padding-top: 8vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
#services img{
    width: 80vw;
    max-height: 80vh;
    margin-left: 10vw;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    margin-top: 50px;
}
@media (min-width: 594px){
    #services{
        height: 100vh;
        padding-top: 8vh;
    }
    #services img{
        width: 30vw;
        max-height: 40vh;
    }
}
.service1{
  background: url(pictures/coder-1869306_1920.jpg) no-repeat;
}
.service2{
  background: url(pictures/blur-computer-connection-electronics-442150.jpg) no-repeat;
}
.service3{
  background: url(pictures/man-with-headphones-facing-computer-monitor-845451.jpg) no-repeat;
}
.service4{
  background: url(pictures/picCenter.jpg) no-repeat;
}
.service1:hover{
    transform: scale(1.2);
}
.service2:hover{
    transform: scale(1.2);
}
.service3:hover{
    transform: scale(1.2);
}
.service4:hover{
    transform: scale(1.2);
}
/* ------------------- CONTACT ------------------- */
#contact{
    height: 90vh;
    padding-top: 12vh;
    //overflow: auto;
}
.address,form{
    width: 60vw;
    height: 40vh;
    font-size: 2vmax;
    margin: 5vh auto;
    text-align: center;
}
input, textarea{
    font-size: 100%;
    width: 100%;
    border: 1px solid black;
}
input:last-of-type{
    margin-top: 3vh
}
textarea{
    margin-top: 3vh;
}
button{
    width: 50%;
    background-color: gray;
    color: black;
    font-weight: 900;
    font-size: 80%;
    margin-top: 3vh;
}
@media (min-width: 900px){
    .address,form{
        display: inline-block;
    }
    .address,form{
        margin-left: 5vw;
        margin-top: 10vh;
        width: 35vw;
        vertical-align: top;
    }
}
/* ------------------- FOOTER ------------------- */
footer{
    height: 10vh;
    width: 100vw;
    background-color: #2a2a2a;
    position: relative;
    color: white;
    font-size: 1.5vmax;
    text-align: center;
}
footer p{
    position: relative;
    top: 30%;
}