*{
    padding: 0;
    margin: 0;
}
header, section, main, footer{
    width: 90vw;
    margin: 0 auto;
    border: 1px solid red;
    height: 100vh;
}

/* ------------------- HOMEPAGE ------------------- */
header{
    height: 10vh;
    position: fixed;
    //border: 2px solid black;
    top: 2%;
}
nav{
    text-align: center;
    font-size: 200%;
    position: relative;
    top: 20%;
}
li{
    display: inline-block;
    list-style-type: none;
    padding-left: 50px;
}
#firstPage{
    height: 90vh;
    //border: 1px solid blue;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
#firstPage div{
    background-size: cover;
    height: 100%;
}
.leftPicture{
    background: url(pictures/black-and-gray-motherboard-2582937.jpg) no-repeat;
    width: 24%;
}
.centerPicture{
    background: url(pictures/picRight.jpg) no-repeat;
    width: 50%;
}
.rightPicture{
    background: url(pictures/black-and-gray-motherboard-2582937.jpg) no-repeat;
    width: 24%;
}
/* ------------------- COMPANY ------------------- */
#company{
    position: relative;
}
img{
    height: 90vh;
    width:24%;
    position: absolute;
    bottom: 0;
}
p{
    height: 50%;
    text-align: center;
    //border: 1px solid red;
    position: absolute;
    margin-left: 25%;
    padding: 3%;
    top: 20%;
    font-size: 140%;
}
/* ------------------- TEAM ------------------- */
h3{
    font-size: 200%;
    text-align: center;
    line-height: 3;
    position: relative;
    top: 15vh;
}
.slider{
    width: 80%;
    height: 70vh;
    margin: 0 auto;
   //border: 2px solid blue;
    position: relative;
    margin-top: 15vh;
}
.worker{
    height: 100%;
    width: 70vw;
    background: url(pictures/man1.jpg) no-repeat;
    background-size: contain;
    animation: 20s workers infinite;
    margin: 0 auto;
    background-position: center;
   // border: 2px solid black;
}
@keyframes workers{
    0%{
        background: url(pictures/man1.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    25%{
        background: url(pictures/man2.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        //left: 0;
    }
    50%{
        background: url(pictures/man3.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        //left: 15vw;
    } 
    75%{
        background: url(pictures/man4.jpg) no-repeat;
        background-size: contain;
        background-position: center;
        //left: 0;
    } 
    100%{
        background: url(pictures/man1.jpg) no-repeat;
        background-size: contain;
        background-position: center;
    }
}
/* ------------------- SERVICES ------------------- */
/* ------------------- CONTACT ------------------- */